@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #8b8c92;
  background: #0f1628;
  font-size: 13px;
  /* background: grey; */
}
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: grey; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #131b2e;
  /* border-radius: 6px; */
}

/* ::-webkit-scrollbar-thumb:hover {
  background: darken(
    var(--scrollbar-thumb-bg),
    10%
  ); 
} */

.circleLight {
  background: rgb(10, 42, 62);
  background: radial-gradient(
    circle,
    rgba(10, 42, 62, 1) 0%,
    rgba(15, 22, 40, 1) 64%
  );
}

.textLight {
  background-image: linear-gradient(
    90deg,
    rgba(27, 155, 200, 1) 0%,
    rgba(39, 187, 192, 1) 30%
  );
  -webkit-background-clip: text;
  background-clip: text; /* For non-WebKit browsers */
  color: transparent; /* Make the text color transparent */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
