@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #8b8c92 !important;
  background: #0f1628 !important;
  font-size: 13px !important;
  /* background: grey; */
}
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px !important; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: grey !important; /* Track color */
}
.jodit-icon {
  fill: white !important;
}
.jodit-toolbar__box:not(:empty):not(:empty) {
  background-color: #131b2e !important;
}
.jodit-toolbar-button__trigger svg {
  fill: white; /* For SVG elements with fill property */
  color: white; /* For SVG elements styled with color property */
}
a.jodit-status-bar-link {
  display: none;
}

.jodit-popup__content {
  background-color: rgb(37, 37, 37) !important;
  border-radius: 10px;
}
.jodit-toolbar-button__text {
  color: white !important;
}

::-webkit-scrollbar-thumb {
  background-color: #131b2e !important;
  /* border-radius: 6px; */
}

ul.splide__pagination {
  display: none !important;
}

button.splide__arrow--next {
  display: none !important;
}
button.splide__arrow--prev {
  display: none !important;
}
/* ::-webkit-scrollbar-thumb:hover {
  background: darken(
    var(--scrollbar-thumb-bg),
    10%
  ); 
} */

.circleLight {
  background: rgb(10, 42, 62) !important;
  background: radial-gradient(
    circle,
    rgba(10, 42, 62, 1) 0%,
    rgba(15, 22, 40, 1) 64%
  ) !important;
}

.textLight {
  background-image: linear-gradient(
    90deg,
    rgba(27, 155, 200, 1) 0%,
    rgba(39, 187, 192, 1) 30%
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important; /* For non-WebKit browsers */
  color: transparent !important; /* Make the text color transparent */
}
.card-container {
  transition: opacity 0.3s ease, transform 0.3s ease !important;
}

.card-container.hidden {
  opacity: 0;
  transform: scale(0.95) !important;
}

*,
::before,
::after {
  border: 0px;
  border-color: #ffffff !important;
}
.css-uttm9k {
  padding: 0px;
}

.css-1eziwv {
  font-size: 13px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance !important;
  }
}
